#profileList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.profile-card {
    cursor: pointer;
}

.profile-avatar {
    object-fit: cover;
    height: 200px;
}

#loading {
    text-align: center;
    margin-top: 2rem;
}