{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="User management system">
        <meta name="keywords" content="users, management, system">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet"
              href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'users/css/user.css' %}">
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        {% block header %}
            {% include "users/header.html" %}
        {% endblock header %}
        <div class="container my-4">
            {% block content %}
            {% endblock content %}
        </div>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static "axios/axios.min.js" %}"></script>
        <script src="{% static 'users/js/user.js' %}"></script>
        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
