{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    會員基本資料
{% endblock title %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center center-screen-70vh">
        <div class="card col-md-4 p-4 shadow-sm rounded">
            <h2 class="text-center">會員基本資料</h2>
            <form method="post"
                  action="{% url 'users:profile' %}"
                  enctype="multipart/form-data"
                  novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}
                {% if user.profile.avatar %}
                    <div class="mb-3 text-center">
                        <img src="{{ user.profile.avatar.url }}"
                             alt="頭像"
                             class="img-thumbnail"
                             height="150"
                             width="150">
                    </div>
                {% endif %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary w-100">更新資料</button>
            </form>
        </div>
    </div>
{% endblock content %}
